
.diningPage {
    background-color: #f8f5f2;
}

.diningTitle, .diningText {
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}




.diningContainer {
    flex-direction: row;
    display: wrap;
    padding: 20px;
    margin:20px;
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 30px;
    text-align: center;

}

.diningText {
    color:#003049;
    font-family: 'Cormorant';
    font-size: x-large;
    /* max-width: 800px;
    max-height: 300px;
    text-align: center; */
}

.diningTitle {
    color:#003049;
    font-family: 'Cormorant';
    font-size: xx-large;
}