.Btn {
    text-align: center;
    width: 85%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #f8f5f2;
    color: #003049;
    text-decoration: none;
    margin: 1rem;
    padding: 15px;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    
}

.Btn:hover {
    background-color: #c5d7e1;
    cursor: pointer;
    
}
