
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:opsz,wght@14..32,100..900&family=Manrope:wght@200..800&family=Playwrite+DE+SAS:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.logoImg {
   
    max-width: 5rem;
    max-height: 9rem;
    padding-left: 9px;
}

.logoText {
    font-size: xx-large;
    /* font-family: 'Manrope'; */
    font-family: 'Playwrite';
    display:inline-block;
    
}
