

.ExploreBtn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    font-family: 'Cormorant';
    padding: 10px 50px;
    border-radius: 8px;
    margin-left: 1rem;
    /* padding-left: 25rem; */
    background-color: #003049;
    color: #f8f5f2;
    margin-bottom: 20px;
    transform: 0.3s ease;
    
}

.ExploreBtn:hover{
    transform: translateY(-3px);
    
}

.exploreTitle{
    color: #003049;
    font-family: Cormorant;
    padding-top: 180px;
    text-align: center;

}

.exploreText {
    color: #003049;
    font-family: Cormorant;
    text-align: center;
}