.banner {
    height: 90vh;
    width: 100vw;
    margin:0 auto;
    margin-left: calc(-50vw + 50%);
    flex: none;
    align-self: stretch;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}